$primary-purple: #2E1B47;
$primary-purple-3: #AFABC9;
$purple-light-6: #de1a83;
$purple-light-5: #7c1386b5;
$purple-light-4: #502d7a;
$purple-light-3: #c486c13e;
$purple-light-2: #72569C;
$purple-light-2a: #87789fb9;
$purple-light-1: #E3DEEF;
$primary-red: #E20707;
$primary-blue: #160b99;
$primary-green: #055F04;
$primary-skyblue: #0689A6;
$primary-blue-1: #AFDFE1;
$secondary-blue: #1D6EC9;
$primary-black: #122231;
$warm-grey: #F0F0E6;
$light-lime: #E5F5F5;
$grey-light: #F2F5FB;
$black-light: #00000075;
$black-dark: #000000a2;
$dashboardcard-1: rgb(0, 53, 151);
$dashboardcard-2: rgb(81, 0, 180);
$dashboardcard-3: rgb(0, 0, 0);